*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fdfcce;
}

for {
    max-width:500px;
    margin: 0 auto;
    background-color:  #d83018;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgb(77, 45, 45);
}

a {
    text-decoration: none;
    border: 1px solid white;
    border-radius: 8px;
    background-color: white;
    padding: 4px;
    width: 180px;
    text-align: center;
    font-family: serif;
    color: #e1ad72;
}

.pagina {
    width:80%;
    height:80%;
    display: flex;
    border-radius: 1em;
    background: rgb(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.37);
}

.bloco-imag {
    width: 60%;
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.bloco-form {
    width:40%; 
    border-radius: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #3a3232;
    padding: 3rem;
}

.imag{
    width: 760%;
    border-radius: 1rem;
}

h2{
    font-family: monospace;
    color: #984810;
    font-weight: 700;
    padding: 8px;
}

label{
    font-family: monospace;
    border: 1px solid white;
    border-radius: 8px;
    background-color: white;
    padding: 4px;
    width: 180px;
    text-align: center;
    color: #e1ad72;
}