*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

input{
    border-radius: 10px 10px 10px 10px;
    border: 1px solid rgba(194, 174, 102, 0.405);
    background-color: #e4ba455b;

}

select{
    border-radius: 10px 10px 10px 10px;
    border: 1px solid rgba(184, 163, 87, 0.405);
    background-color: #eac5204e;
    color: aliceblue;

}





.fundo{
    display: flex;
    height: 100%;
    width: 100%;
    background: url("../img/fundo.jpg");
    background-position: center;
    background-size: cover;

}

.formulario{
    margin: 5%;
    padding: 5%;
    width: 30%; /*largura */
    height: 85%;/*altura*/
    justify-content: center;
    align-items: center; 
    flex-direction: row;
   backdrop-filter: blur(4px); /* Para deixar o fundo transparente*/
    border-radius: 5%; /* Para arredondar as bordas*/
    border: 1px solid rgba(245, 211, 19, 0.182);
    background-color: rgba(231, 217, 15, 0.214);
    position: absolute;
    left: 28%;
}
.nome {
    margin: 3%;
    padding: 2%;
    justify-content: center;
    color: white; 
      
}

.pessoas{
    margin: 3%;
    padding: 2%;
    justify-content: center;
    color: white; 

   
    

}

.prato{
    margin: 3%;
    padding: 2%;
    justify-content: center;
    color: white;


   
}

.butao{
    margin: 5%;


   
}


.input_pessoa{

    width: 32%;
    border-radius: 10px 10px 10px 10px;
    border: 1px solid rgba(184, 160, 87, 0.405);

}

.input_butao{
    width: 30%;
    height: 30%;
}




